/* App.css */
.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: rgba(180, 182, 172, 0.4);
  background-size: cover;
  background-position: center;
}


.Toastify__toast-icon {
  width: 24px !important;
  height: 24px !important;
}